{% include 'navbar.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}


{% block content %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock styles %}


<div class="container">

        <div class="card">
                <div class="card-body text-center; text-decoration:underline;" style="color: whitesmoke;">
                        <h2>{{pitch.title}}</h2>
                        <h5>{{pitch.description}}.</h5>
                        <hr>
                </div>
        </div>
        <div class="row">
               
                <div class="col-md-6">
                        {{wtf.quick_form(form)}}
                </div>

                <div class="col-md-6">
                        <h4 style="color: black; font-family:'Roboto Condensed', sans-serif; text-align: center;text-underline-position: below">Comments</h4>
                        {{ macro.displayComment(comment) }}
                </div>
        </div>
</div>



{% endblock %}

