<div class="navbar navbar-dark bg-info" role="navigation" style="background-color:green">
  <div class="container" style="text-align: center; color: white; font-family: 'Roboto Condensed', sans-serif;">
    <div class="navbar-header">
      <ul>
        <a style="text-align: center; color: white; font-family: 'Roboto Condensed', sans-serif;"
          class="navbar-brand" href="/pitches/new/"> Pitch here </a>
      </ul>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li style="color:white; font-family:'Roboto Condensed', sans-serif;">{{current_user.username}}</li>

        <li><a style="color: white; font-family: 'Roboto Condensed', sans-serif;" href="{{url_for('auth.logout')}}">Sign out</a></li>
        
        <li><a style="color: white; font-family: 'Roboto Condensed', sans-serif;" href="{{url_for('auth.login')}}">Sign in</a></li>
        
      </ul>
    </div>
  </div>
</div>